@model FinalProject.Models.DappAccount
@{
    ViewData["Title"] = "AccountMainPage";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<br />
<h1>Your Assets</h1>
<table class="table table-hover">
    <thead align="center">
        <tr>
            <th scope="col">AssetID</th>
            <th scope="col">Loaction</th>
            <th scope="col">AreaIn</th>
            <th scope="col">Rooms</th>
            <th scope="col">ImageURL</th>
            <th scope="col">Action</th>

        </tr>
    </thead>
    <tbody align="center">
        
        @foreach (var a in @Model.OwnAssetsList)
        {
            //var currentAsset = Newtonsoft.Json.JsonConvert.SerializeObject(@a);
            <tr>
                <td>@a.AssetID</td>
                <td>@a.Loaction</td>
                <td>@a.AreaIn</td>
                <td>@a.Rooms</td>
                <td><a target="_blank" href=@a.ImageURL>Click</a></td>
                <td><button class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong" onclick="offerContract()">Offer Contract</button></td>
            </tr>

        }

    </tbody>
</table>
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="dialogTitle">Offer Contract</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="asset_dialog_body">
                <p id="dialogAssetID"></p>
                <p id="dialogOwnerAddress"></p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" data-dismiss="modal">Send Contract</button>
            </div>
        </div>
    </div>
</div>
@section scripts
{

    <script type="text/javascript">
        function offerContract(jsonData)
        {
              
             
            document.getElementById("dialogAssetID").innerHTML = "Asset No:".bold();
            document.getElementById("dialogOwnerAddress").innerHTML="Your Public Key:" +"222";

            $('.table tbody').on('click', '.btn', function () {
                var row = $(this).closest('tr');
                var col = row.find('td:eq(1)').text();
                //document.getElementById("asset_dialog_body").innerHTML("vddv");
            })
        }
        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').trigger('focus')
        })
    </script>
}

