@model FinalProject.Models.DappAccount
@{
    ViewData["Title"] = "AccountMainPage";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<br />
<h1>Your Assets</h1>
<table class="table table-hover">
    <thead align="center">
        <tr>
            <th scope="col">AssetID</th>
            <th scope="col">Loaction</th>
            <th scope="col">AreaIn</th>
            <th scope="col">Rooms</th>
            <th scope="col">ImageURL</th>
            <th scope="col">Action</th>

        </tr>
    </thead>
    <tbody align="center">
        @{ int i = 0;}
        @foreach (var a in @Model.OwnAssetsList)
        {
            string loaction = "loc" + i;
            string url = "url" + i;
            //var serialModel = Newtonsoft.Json.JsonConvert.SerializeObject(a);
            //var dSerialModel = Newtonsoft.Json.JsonConvert.DeserializeObject(serialModel);
            //,  @a.AreaIn.ToString(), @a.Rooms.ToString(), @a.ImageURL.ToString(), @a.Price.ToString()
            //String[]  assetArray = new String[6] { a.AssetID.ToString(), a.OwnerID.ToString(), a.OwnerPublicKey, a.AreaIn.ToString(), a.Rooms.ToString(), a.Price.ToString() };
            Asset toSend = new Asset();
            //String[]  assetArray = new String[1] { a.AssetID.ToString() };
            toSend.AssetID = a.AssetID;
            toSend.OwnerID = a.OwnerID;
            toSend.OwnerPublicKey = a.OwnerPublicKey;
            toSend.Loaction = a.Loaction;
            toSend.AreaIn = a.AreaIn;
            toSend.Rooms = a.Rooms;
            toSend.ImageURL = a.ImageURL;
            toSend.Price = a.Price;
            var serialModel = Newtonsoft.Json.JsonConvert.SerializeObject(a);
            var dSerialModel = Newtonsoft.Json.JsonConvert.DeserializeObject(serialModel);
            int k = 0;

        <tr>
            <td>@a.AssetID</td>
            <td id=@loaction>@a.Loaction</td>
            <td>@a.AreaIn</td>
            <td>@a.Rooms</td>
            <td><a id=@url target="_blank" href=@a.ImageURL>Click</a></td>
            <td><button class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong" onclick="offerContract( @serialModel)">Offer Contract</button></td>
            
        </tr>
            i++;
        }

    </tbody>
</table>
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="dialogTitle">Offer Contract</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="asset_dialog_body">
                <p id="dialogAssetID"></p>
                <p id="dialogOwnerID"></p>
                <p id="dialogOwnerPublicKey"></p>
                <p id="dialogLoaction"></p>
                <p id="dialogAreaIn"></p>
                <p id="dialogRooms"></p>
                <p id="dialogImageURL"></p>
                <p id="dialogPrice"></p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" data-dismiss="modal">Send Contract</button>
            </div>
        </div>
    </div>
</div>
@section scripts
{

    <script type="text/javascript">
        function offerContract(param )
        {   
            
            //var obj = JSON.parse('{ "name":"John", "age":30, "city":"New York"}');
            //var obj = JSON.parse(''+param);

            console.log(param);
            //console.log(param);

            
            /*var idLoac = "#loc" + param;
            var idUrl = "#url" + param;
            var demdloc = $(idLoac).text();
            var demdurl = $(idUrl).attr("href");*/
            document.getElementById("dialogAssetID").innerHTML = "Asset No:".bold() + param.AssetID;
            document.getElementById("dialogOwnerID").innerHTML = "Your ID:".bold() + param.OwnerID;
            document.getElementById("dialogOwnerPublicKey").innerHTML="Your Public Key:".bold() +param.OwnerPublicKey ;
            document.getElementById("dialogLoaction").innerHTML="Loaction:".bold() + param.Loaction;
            document.getElementById("dialogAreaIn").innerHTML="AreaIn:".bold() + param.AreaIn;
            document.getElementById("dialogRooms").innerHTML="Rooms:".bold() + param.Rooms;
            document.getElementById("dialogImageURL").innerHTML="ImageURL:".bold() + param.ImageURL;
            document.getElementById("dialogPrice").innerHTML="Price:".bold() + param.Price;


            $('.table tbody').on('click', '.btn', function () {
                    var row = $(this).closest('tr');
                    var col = row.find('td:eq(1)').text();
                    //document.getElementById("asset_dialog_body").innerHTML("vddv");
                })
        }
        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').trigger('focus')
        })
    </script>
}

