@model FinalProject.Models.DappAccount
@{
    ViewData["Title"] = "In Going Requests";
    Layout = "~/Views/Shared/_LayoutRegulator.cshtml";
}

<br />


@if (@Model.DeployedContractList == null)
{
    <br />
    <br />
    <div class="row justify-content-center"><h2>There are NO Requests.</h2></div>
}
else
{
    <!--<div class="row justify-content-center"><button class="btn btn-light">Refresh Table</button></div>-->
    <br />

    <div class=""><h1>Pending Contracts</h1></div>
    <br />
    <div style="display:flex">
        <input class="form-control mr-sm-2 w-25" id="filterInputResults" type="text" placeholder="Search Asset ID or Loaction" onkeyup="FilterResults()" />
        <input hidden class="btn btn-warning" type="button" value="Export To Excel" id="ExportPendingContractBtn" />
        <button onclick="DownloadPendingRequests()" class="btn btn-warning" id="ExportFinalDecitionsBtn">Export To Excel&nbsp&nbsp<i class="fa fa-download" aria-hidden="true"></i></button>

    </div>
    <br />
    <div style="display:flex">
        <!--<input hidden onclick="RefreshTable()" class="btn btn-info" type="button" value="Refresh Table" id="RefreshPendingContractTblBtn" />-->
        <button id="RefreshPendingContractTblBtn" onclick="RefreshTable()" class="btn btn-info">Refresh Table&nbsp&nbsp<i class="fa fa-refresh" aria-hidden="true"></i></button>
        <img class="ml-5" style="display:none" id="RefreshTblLoader" src="https://s5.gifyu.com/images/LoaderDeploy.gif" alt="LoaderDeploy.gif" border="0" />
    </div>
    <br />

    


    <div hidden style="height:300px; overflow:auto;"></div>
    <table id="PendingContractsTable" class=" table table-hover fixed_header_ingoing_requests">
        <thead align="">
            <tr>
                <th scope="col">AssetID</th>
                <th scope="col">Loaction</th>
                <th scope="col">Tracking</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody align="">
            @foreach (var a in @Model.DeployedContractList)
            {
                var ContractSerialModel = Newtonsoft.Json.JsonConvert.SerializeObject(a);
                var btnID = "viewPendingContractDetailsBtn" + a.AssetID;
                var loaderID = "loader" + a.AssetID;
                var lblID = "lblPendingContractResult" + a.AssetID;

                <tr>
                    <td>@a.AssetID</td>
                    <td>@a.Loaction</td>
                    <td><a target="_blank" href=@a.EtherscanURL>Here</a></td>
                    <td>
                        <button id=@btnID class="btn btn-primary" data-toggle="modal" data-target="#PendingContractDetailsDialog" onclick="ViewPendingContractDeteils( @ContractSerialModel)">View Details</button>
                        <center><img style="display:none" id=@loaderID src="https://s5.gifyu.com/images/LoaderDeploy.gif" alt="LoaderDeploy.gif" border="0" /></center>
                        <label style="display:none" id=@lblID></label>
                    </td>
                </tr>

            }
        </tbody>
</table>


}
<div class="modal fade" id="PendingContractDetailsDialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="dialogTitle">Contract Details</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="asset_dialog_body">
                <center><img class="w-50" id="PendingDialogImageURL"></center>
                <br />
                <div style="display:flex">
                    <p id="PendingContractDialogAssetID"></p>
                    <p>&nbsp&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp&nbsp</p>
                    <p id="PendingContractDialogLoaction"></p>
                </div>

                <div style="display:flex">
                    <p id="PendingContractDialogAreaIn"></p>
                    <p>&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp</p>
                    <p id="PendingContractDialogRooms"></p>
                    <p>&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp</p>
                    <p id="PendingContractDialogPrice"></p>
                </div>

                <p id="">------------------------------------</p>
                <p id="PendingContractDialogOwnerID"></p>
                <p id="PendingContractDialogOwnerPublicKey"></p>
                <p id="">------------------------------------</p>
                <p id="PendingContractDialogBuyerID"></p>
                <p id="PendingContractDialogBuyerPublicKey"></p>
                <p id="">------------------------------------</p>
                <p class="text-danger" id="PendingContractDialogTaxAmount"></p>

                <input onclick="AllowNotes()" type="checkbox" id="PendingContractCheckBox"> Add Deny Notes<br>
                <textarea id="PendingContractdialogNotes" rows="4" cols="50"></textarea>
            </div>
            <div class="modal-footer justify-content-around">
                <button id="PendingContractDenyBtn" onclick="CancelContract()" type="button" class="btn btn-danger" data-dismiss="modal">Deny&nbsp&nbsp<i class="fa fa-times" aria-hidden="true"></i></button>
                <button id="PendingContractApproveBtn" onclick="ShowWarningFeforeApproval()" type="button" class="btn btn-success" data-dismiss="modal">Approve&nbsp&nbsp<i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i></button>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="DialogBlockchainBeforeRegulatorApprove" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Are You Sure?</h4><!--Contract Offer Details-->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5><strong>After this operation - There is no coming back!!</strong></h5>
                <h5>-----------------------------------------------------------------------</h5>
                <h6 id="additionalWarningForSigning"></h6>
                <small class="text-danger">*The seller will receive the money.</small>
                <br />
                <small class="text-danger">*The revenue will be reduced by tax pay.</small>
                <br />
                <small class="text-danger">*The buyer receives the asset listing.</small>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                <button onclick="ApprovePendingContract()" type="button" class="btn btn-success" data-dismiss="modal">Yes</button>

            </div>
        </div>
    </div>
</div>

<div class="modal position-fixed" id="ResultRegulatorDialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="ResultRegulatorDialogTitle" class="modal-title"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div style="display:flex" class="modal-body">


                <table>
                    <tr>
                        <td>
                            <h5 id="ResultRegulatorDialogMessageContent1"></h5>
                            <h5 style="display:none" id="ErrorRegulatorDialogMessageContent"></h5>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <h5 id="ResultRegulatorDialogMessageContent2"></h5>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div style="display:flex">
                                <h5 id="ResultRegulatorDialogMessageContent3">You can track it</h5>
                                <a style="font-size:16px" target="_blank" id="ResultRegulatorDialogEtherscanURL" href="">&nbsp Here.</a>
                            </div>

                            <h5 class="text-danger" style="display:none" id="ResultRegulatorDialogMessageContent4"></h5>
                        </td>
                    </tr>

                </table>

                <img id="ResultRegulatorConfirmationImg" style="width:70px; height:70px; margin-left:auto;" />

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>




@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            document.getElementById("navBarInGoingRequest").style.textDecoration = "underline";
            document.getElementById("navBarInGoingRequest").style.fontWeight = "bold";
        });

        //$('#ExportPendingContractBtn').click(function(){ document.location = '@Url.Action("DownloadExcelPendingContracts" ,"InGoingRequests")'; });

        function DownloadPendingRequests()
        {
            document.location = '@Url.Action("DownloadExcelPendingContracts" ,"InGoingRequests")';
        }

        function FilterResults()
        {
            var input, filter, table, tr, td0, i, txtValue0, td1, txtValue1;
            input = document.getElementById("filterInputResults");
            filter = input.value.toUpperCase();
            table = document.getElementById("PendingContractsTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++)
            {
                td0 = tr[i].getElementsByTagName("td")[0];
                td1 = tr[i].getElementsByTagName("td")[1];
                if (td0 || td1)
                {
                    txtValue0 = td0.textContent || td0.innerText;
                    txtValue1 = td1.textContent || td1.innerText;
                    if ( (txtValue0.toUpperCase().indexOf(filter) > -1) || (txtValue1.toUpperCase().indexOf(filter) > -1) )
                    {
                        tr[i].style.display = "";
                    }
                    else
                    {
                        tr[i].style.display = "none";
                    }
                }
            }

        }


        function ShowWarningFeforeApproval()
        {
            var offer = approvedContract;

            var dealPriceILS = offer.PriceILS.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            var dealPriceETH = offer.PriceETH
            var DealPrice = "" + dealPriceETH + " ETH / ₪" + dealPriceILS;
            var TaxAmountETH = offer.PriceETH * 0.17;
            TaxAmountETH = TaxAmountETH.toFixed(2);
            var TaxAmountILS = offer.PriceILS * 0.17;
            TaxAmountILS = TaxAmountILS.toFixed(2)
            TaxAmountILS = TaxAmountILS.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            var TaxAmount = "" + TaxAmountETH + " ETH / ₪" + TaxAmountILS;

            var message = document.getElementById("additionalWarningForSigning");
            message.innerHTML = "Asset ID : ".bold() + offer.AssetID + "</br>" + "Loaction : ".bold() + offer.Loaction +"</br>"
                + "Deal Price : ".bold() + DealPrice + "</br>" + "Tax : ".bold() + TaxAmount;


            $('#DialogBlockchainBeforeRegulatorApprove').modal('show');

        }



        function ApprovePendingContract()
        {
            var offer = approvedContract;
            var buttonID = "viewPendingContractDetailsBtn"+ offer.AssetID;
            var loaderID = "loader" + offer.AssetID;
            var lblIdApproved = "lblPendingContractResult" + offer.AssetID;
            console.log("Label ID is---->" + lblIdApproved);
            var publicKeyRegultaor = "0x7988dfD8E9ceCb888C1AeA7Cb416D44C6160Ef80";

            var TaxAmountETH = offer.PriceETH * 0.17;
            TaxAmountETH = TaxAmountETH.toFixed(2);
            var TaxAmountILS = offer.PriceILS * 0.17;
            TaxAmountILS = TaxAmountILS.toFixed(2)
            TaxAmountILS = TaxAmountILS.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            var TaxAmount = "" + TaxAmountETH + " ETH / ₪" + TaxAmountILS;


            document.getElementById(buttonID).style.display = "none";
            document.getElementById(loaderID).style.display = "block";

            $.ajax({
                    url: "/InGoingRequests/ApproveContractAsRegulator",
                    type: 'POST',
                    async: true,
                    data : {ContractAddress: offer.ContractAddress },
                    success: function (data)
                    {
                        document.getElementById(lblIdApproved).innerHTML = "Approved";
                        document.getElementById(lblIdApproved).style.color = "lightgreen";
                        document.getElementById(lblIdApproved).style.display = "block";
                        document.getElementById(loaderID).style.display = "none";
                        updateAccountBalanceAfterBlockchainOperation(publicKeyRegultaor);
                        var result = JSON.parse(data);
                        var feeILS = result.feeILS;
                        document.getElementById("ResultRegulatorDialogTitle").innerHTML = "The contract approved sucessfully";
                        document.getElementById("ResultRegulatorDialogMessageContent1").style.display = "block";
                        document.getElementById("ResultRegulatorDialogMessageContent2").style.display = "block";
                        document.getElementById("ResultRegulatorDialogMessageContent3").style.display = "block";
                        document.getElementById("ResultRegulatorDialogMessageContent4").style.display = "block";
                        document.getElementById("ErrorRegulatorDialogMessageContent").style.display = "none";
                        document.getElementById("ResultRegulatorDialogEtherscanURL").style.display = "block";
                        document.getElementById("ResultRegulatorDialogEtherscanURL").href = "https://ropsten.etherscan.io/address/" + result.ContractAddress;
                        document.getElementById("ResultRegulatorDialogMessageContent1").innerHTML = "The contract been approved.";
                        document.getElementById("ResultRegulatorDialogMessageContent2").innerHTML = "AssetID".bold() + " : " + offer.AssetID + "." + "</br>" + "Loaction".bold() + " : " + offer.Loaction + ".";
                        document.getElementById("ResultRegulatorConfirmationImg").src = "/img/V-symbol.png";
                        var dealPriceILS = offer.PriceILS.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                        document.getElementById("ResultRegulatorDialogMessageContent4").innerHTML = "Tax recieved : ".bold()+TaxAmount+"</br>"+"Fee : ₪"+result.feeILS;
                        $('#ResultRegulatorDialog').modal('show');

                    },
                    error: function (xhr, text, error)
                    {
                        document.getElementById("ResultRegulatorDialogMessageContent1").style.display = "none";
                        document.getElementById("ResultRegulatorDialogMessageContent2").style.display = "none";
                        document.getElementById("ResultRegulatorDialogMessageContent3").style.display = "none";
                        document.getElementById("ResultRegulatorDialogMessageContent4").style.display = "none";
                        document.getElementById("ResultRegulatorDialogEtherscanURL").style.display = "none";
                        updateAccountBalanceAfterBlockchainOperation(publicKeyRegultaor)
                        var ErrorMsg = "You running out of ETH, please deposit more ETH.<br>";
                        document.getElementById("ErrorRegulatorDialogMessageContent").innerHTML = "" + ErrorMsg;
                        document.getElementById("ErrorRegulatorDialogMessageContent").style.display = "block";
                        document.getElementById("ResultRegulatorConfirmationImg").style.display = "none";
                        document.getElementById(lblIdApproved).style.display = "none";
                        document.getElementById(loaderID).style.display = "none";
                        document.getElementById(buttonID).style.display = "block";
                        document.getElementById("ResultRegulatorDialogTitle").innerHTML = "Error";

                        $('#ResultRegulatorDialog').modal('show');



                        return;
                    }
                });

        }


        var approvedContract;

        function ViewPendingContractDeteils(offer)
        {
            approvedContract = offer;
            console.log("Json is : -->" + offer);
            var fullPublicKey = offer.SellerPublicKey;
            var partOne = fullPublicKey.substring(0, 12);
            var partTwo = " . . . ";
            var partThree = fullPublicKey.substring(32, fullPublicKey.length);
            var OwnerPublicKeyToShow = "" + partOne + partTwo + partThree;

            var fullPublicKey = offer.BuyerPublicKey;
            var partOne = fullPublicKey.substring(0, 12);
            var partTwo = " . . . ";
            var partThree = fullPublicKey.substring(32, fullPublicKey.length);
            var BuyerPublicKeyToShow = "" + partOne + partTwo + partThree;
            document.getElementById("PendingContractdialogNotes").value = "";
            document.getElementById("PendingContractdialogNotes").disabled = true;
            document.getElementById("PendingContractCheckBox").checked = false;
            document.getElementById("PendingContractdialogNotes").placeholder = "";

            document.getElementById("PendingDialogImageURL").setAttribute("src", offer.ImageURL);
            document.getElementById("PendingContractDialogAssetID").innerHTML = "Asset No : ".bold() + offer.AssetID;
            document.getElementById("PendingContractDialogLoaction").innerHTML = "Loaction : ".bold() + offer.Loaction;
            document.getElementById("PendingContractDialogAreaIn").innerHTML = "AreaIn : ".bold() + offer.AreaIn + " m^2";
            document.getElementById("PendingContractDialogRooms").innerHTML = "Rooms :".bold() + offer.Rooms;

            var dealPriceILS = offer.PriceILS.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            var dealPriceETH = offer.PriceETH
            var dealPrice = "" + dealPriceETH + " ETH / ₪" + dealPriceILS;
            document.getElementById("PendingContractDialogPrice").innerHTML = "Price : ".bold() + dealPrice;
            document.getElementById("PendingContractDialogOwnerID").innerHTML = "Owner ID : ".bold() + offer.OwnerID;
            document.getElementById("PendingContractDialogOwnerPublicKey").innerHTML = "Owner Public-Key : ".bold() + OwnerPublicKeyToShow;
            document.getElementById("PendingContractDialogBuyerID").innerHTML = "Buyer ID : ".bold() + offer.BuyerID;
            document.getElementById("PendingContractDialogBuyerPublicKey").innerHTML = "Buyer Public-Key : ".bold() + BuyerPublicKeyToShow;

            var taxAmountETH, taxAmountILS;
            taxAmountETH = offer.PriceETH * 0.17;
            taxAmountETH = taxAmountETH.toFixed(2);
            taxAmountILS = offer.PriceILS * 0.17;
            taxAmountILS = taxAmountILS.toFixed(2);
            taxAmountILS = taxAmountILS.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            var dealTax = "" + taxAmountETH + " ETH / ₪" + taxAmountILS;

            document.getElementById("PendingContractDialogTaxAmount").innerHTML = "Tax : ".bold() + dealTax;

        }

        function AllowNotes()
        {
            // PendingContractDenyBtn
            checkBox = document.getElementById("PendingContractCheckBox").checked;
            if (checkBox == true)
            {

                $('#PendingContractApproveBtn').disabled = true;
                document.getElementById("PendingContractdialogNotes").placeholder = "Add your notes";
                document.getElementById("PendingContractdialogNotes").value = "";
                document.getElementById("PendingContractdialogNotes").disabled = false;
                document.getElementById("PendingContractApproveBtn").disabled = true;
            }

            else
            {
                document.getElementById("PendingContractdialogNotes").disabled = true;
                document.getElementById("PendingContractdialogNotes").placeholder = "";
                document.getElementById("PendingContractdialogNotes").value = "";
                document.getElementById("PendingContractApproveBtn").disabled = false;
            }

        }

        function RefreshTable()
        {

            document.getElementById("RefreshTblLoader").style.display = "block";
            document.getElementById("RefreshPendingContractTblBtn").style.display = "none";



            $.ajax({
                    url: "/InGoingRequests/UpdatePendingContracts",
                    type: 'POST',
                    async: true,
                    data : { },
                    success: function (data)
                    {

                        table = document.getElementById("PendingContractsTable");
                        for(var i = table.rows.length - 1; i > 0; i--)
                        {
                            table.deleteRow(i);
                        }

                        var List = JSON.parse(data);
                        var cell1, cell2, cell3, cell4;
                        var JsonContract;
                        for (var i = 0;  i < List.length; i++)
                        {

                            var row = table.insertRow(table.rows.length);
                            cell1 = row.insertCell(0);
                            cell2 = row.insertCell(1);
                            cell3 = row.insertCell(2);
                            cell4 = row.insertCell(3);


                            List[i].Loaction = List[i].Loaction.replace("'",'`');

                            cell1.innerHTML = List[i].AssetID;
                            cell2.innerHTML = List[i].Loaction;
                            var etherscanURL = List[i].etherscanURL;
                            cell3.innerHTML = "<a target='_blank' href="+etherscanURL+">Here</a>";
                            JsonContract = JSON.stringify(List[i]);
                            console.log("Contract: "+ i +JsonContract);
                            cell4.innerHTML = "<button id='viewPendingContractDetailsBtn"+ List[i].AssetID +"' class='btn btn-primary' data-toggle='modal' data-target='#PendingContractDetailsDialog' onclick='ViewPendingContractDeteils(" + JsonContract + ")' >View Details</button>"
                                + "<center><img style='display:none' id='loader" + List[i].AssetID + "' src='https://s5.gifyu.com/images/LoaderDeploy.gif' alt='LoaderDeploy.gif' border='0' /></center>"
                                + "<label style='display:none' id='lblPendingContractResult" + List[i].AssetID + "'></label>";


                            document.getElementById("RefreshTblLoader").style.display = "none";
                            document.getElementById("RefreshPendingContractTblBtn").style.display = "block";

                        }


                    },
                    error: function (xhr, text, error)
                    {

                        return;
                    }

                });

        }


        function CancelContract()
        {
            var offer = approvedContract;
            var buttonID = "viewPendingContractDetailsBtn"+ offer.AssetID;
            var loaderID = "loader" + offer.AssetID;
            var lblIdApproved = "lblPendingContractResult" + offer.AssetID;
            console.log("Label ID is---->" + lblIdApproved);
            var publicKeyRegultaor = "0x7988dfD8E9ceCb888C1AeA7Cb416D44C6160Ef80";
            var notes = document.getElementById("PendingContractdialogNotes").value;

            document.getElementById(buttonID).style.display = "none";
            document.getElementById(loaderID).style.display = "block";

            $.ajax({
                    url: "/InGoingRequests/CancelContractAsRegulator",
                    type: 'POST',
                    async: true,
                    data : {ContractAddress: offer.ContractAddress, DenyNotes: notes },
                    success: function (data)
                    {
                        document.getElementById(lblIdApproved).innerHTML = "Canceled";
                        document.getElementById(lblIdApproved).style.color = "red";
                        document.getElementById(lblIdApproved).style.display = "block";
                        document.getElementById(loaderID).style.display = "none";
                        updateAccountBalanceAfterBlockchainOperation(publicKeyRegultaor);
                        var result = JSON.parse(data);
                        var feeILS = result.feeILS;
                        document.getElementById("ResultRegulatorDialogTitle").innerHTML = "The contract canceled sucessfully";
                        document.getElementById("ResultRegulatorDialogMessageContent1").style.display = "block";
                        document.getElementById("ResultRegulatorDialogMessageContent2").style.display = "block";
                        document.getElementById("ResultRegulatorDialogMessageContent3").style.display = "block";
                        document.getElementById("ResultRegulatorDialogMessageContent4").style.display = "block";
                        document.getElementById("ErrorRegulatorDialogMessageContent").style.display = "none";
                        document.getElementById("ResultRegulatorDialogEtherscanURL").style.display = "block";
                        document.getElementById("ResultRegulatorDialogEtherscanURL").href = "https://ropsten.etherscan.io/address/" + result.ContractAddress;
                        document.getElementById("ResultRegulatorDialogMessageContent1").innerHTML = "The contract been canceled.";
                        document.getElementById("ResultRegulatorDialogMessageContent2").innerHTML = "AssetID".bold() + " : " + offer.AssetID + "." + "</br>" + "Loaction".bold() + " : " + offer.Loaction + ".";
                        document.getElementById("ResultRegulatorConfirmationImg").src = "/img/V-symbol.png";
                        document.getElementById("ResultRegulatorDialogMessageContent4").innerHTML = "Fee : ₪"+result.feeILS;
                        $('#ResultRegulatorDialog').modal('show');

                    },
                    error: function (xhr, text, error)
                    {
                        document.getElementById("ResultRegulatorDialogMessageContent1").style.display = "none";
                        document.getElementById("ResultRegulatorDialogMessageContent2").style.display = "none";
                        document.getElementById("ResultRegulatorDialogMessageContent3").style.display = "none";
                        document.getElementById("ResultRegulatorDialogMessageContent4").style.display = "none";
                        document.getElementById("ResultRegulatorDialogEtherscanURL").style.display = "none";
                        updateAccountBalanceAfterBlockchainOperation(publicKeyRegultaor)
                        var ErrorMsg = "You running out of ETH, please deposit more ETH.<br>";
                        document.getElementById("ErrorRegulatorDialogMessageContent").innerHTML = "" + ErrorMsg;
                        document.getElementById("ErrorRegulatorDialogMessageContent").style.display = "block";
                        document.getElementById("ResultRegulatorConfirmationImg").style.display = "none";
                        document.getElementById(lblIdApproved).style.display = "none";
                        document.getElementById(loaderID).style.display = "none";
                        document.getElementById(buttonID).style.display = "block";
                        document.getElementById("ResultRegulatorDialogTitle").innerHTML = "Error";

                        $('#ResultRegulatorDialog').modal('show');



                        return;
                    }
                });


        }


    </script>
}
